In [2]:
! wget  https://raw.githubusercontent.com/sejaldua/sql-olympics/main/data/athlete_events.csv

--2021-07-22 10:36:26--  https://raw.githubusercontent.com/sejaldua/sql-olympics/main/data/athlete_events.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36182972 (35M) [text/plain]
Saving to: ‘athlete_events.csv’

athlete_events.csv  100%[===================>]  34,51M   484KB/s    in 67s

2021-07-22 10:37:36 (529 KB/s) - ‘athlete_events.csv’ saved [36182972/36182972]

In [81]:
import pandas as pd
import psycopg2 as psql
from sqlalchemy import create_engine

In [29]:
df_athlete_events = pd.read_csv('data/athlete_events.csv')
df_athlete_regions = pd.read_csv('data/noc_regions.csv')

In [49]:
for i, j in df_athlete_events.dtypes.items():
    if j == 'int64':
        j = 'int'
    elif j == 'float64':
        j = 'floatn'
    else :
        j = 'varchar (50)'
    print("{} {},".format(i,j))

ID int,
Name varchar (50),
Sex varchar (50),
Age floatn,
Height floatn,
Weight floatn,
Team varchar (50),
NOC varchar (50),
Games varchar (50),
Year int,
Season varchar (50),
City varchar (50),
Sport varchar (50),
Event varchar (50),
Medal varchar (50),

In [48]:
for i, j in df_athlete_regions.dtypes.items():
    if j == 'int64':
        j = 'int'
    elif j == 'float64':
        j = 'floatn'
    else :
        j = 'varchar (50)'
    print("{} {},".format(i,j))

NOC varchar (50),
region varchar (50),
notes varchar (50),

In [72]:
conn = psql.connect(
 database="postgres", user='postgres', password='juhari123', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
cursor.execute('''SELECT table_name
FROM information_schema.tables
WHERE table_type='BASE TABLE'
AND table_schema='public' ''')

cursor.fetchall()

[('airbnb_reviews',),
 ('airbnb_hosts',),
 ('airbnb_guest',),
 ('online_retail',),
 ('airbnb_contact',)]

In [ ]:
 

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS athlete_event")

#Creating table as per requirement
sql1 ='''CREATE TABLE athlete_event(
ID int,
Name varchar (50),
Sex varchar (50),
Age float,
Height float,
Weight float,
Team varchar (50),
NOC varchar (50),
Games varchar (50),
Year int,
Season varchar (50),
City varchar (50),
Sport varchar (50),
Event varchar (50),
Medal varchar (50)
)
'''
 
cursor.execute(sql1)
print("Table created successfully........")

In [ ]:
 

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS athlete_region")

#Creating table as per requirement
sql1 ='''CREATE TABLE athlete_region(
NOC varchar (50),
region varchar (50),
notes varchar (50)
)
'''
 
cursor.execute(sql1)
print("Table created successfully........")